.contact-body{
    padding: 20px 0;
}
.contact-body form{
    background-color: #464646;
    padding: 20px;
}
.contact-body form input[type="text"]{
    width: 50%;
    height: 30px;
    margin: 10px;
    padding: 1px 0;
}
.contact-body form textarea{
    width: 50%;
    height: 120px;
    padding: 1px 0;
    resize: none;
        margin: 10px;
}
.contact-body form button{
    width: 50%;
    padding: 10px 0;
    border: 0;
    background-color: #222;
    color: #fff;
}
.contact-body form label{
    text-transform: uppercase;
}
@media(max-width: 600px){
    .contact-body form input[type="text"], .contact-body form textarea, .contact-body form button{
        width: 100%;
        margin: 0;
    }
    .contact-body form{
        padding-top: 10px;
    }
}