<section id="contact-us">
  <div class="subheader">
    <div class="container-fluid">
      <div class="row middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Contact us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="contact-body">
          <form action="">
            <h2>Get in touch</h2>
            <div>
              <label for="name">Name</label><br>
              <input id="name" type="text">
            </div>
            <div>
              <label for="email">Email</label><br>
              <input id="email" type="text">
            </div>
            <div>
              <label for="message">Message</label><br>
              <textarea id="message" ></textarea>
            </div>
            <button type="submit">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>