<section id="technologies">
  <div class="container-fluid">
    <div class="row middle-xs middle-sm middle-md middle-lg center-xs center-sm center-md center-lg">
      <h1 class="headers-color">Tech stack</h1>
    </div>
    <div class="row middle-xs middle-sm middle-md middle-lg center-xs center-sm center-md center-lg">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <img src="../../../../img/technologies4.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <ul>
          <li><i class="fa fa-check"></i> JavaScript</li>
          <li><i class="fa fa-check"></i> HTML5, CSS3</li>
          <li><i class="fa fa-check"></i> Angular 2+</li>
          <li><i class="fa fa-check"></i> Botstrap</li>
          <li><i class="fa fa-check"></i> Electron</li>
        </ul>
      </div>
    </div>
  </div>
</section>