#technologies{
    background-color: #EBE9EA;
}
li{
    list-style: none;
    font-size: 20px;
}
.fa{
    font-size: 16px;
    color: #4FD74F;
}
@media(max-width: 600px){
    h2{
        font-size: 16px;
    }
    li{
        font-size: 14px;
    }
    .fa{
        font-size: 14px;
    }
}
@media(max-width: 400px){
        h2{
        font-size: 14px;
    }
    li{
        font-size: 10px;
    }
    .fa{
        font-size: 10px;
    }
}