<section id="contacts">
  <div class="container-fluid">
    <div class="row start-xs start-sm start-md start-lg">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>Contacts</h4>
        <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +38 (098) 765 43 21</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> logo@gmail.com</li>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> 12345 1st st. Kiev UA</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>About us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam fuga numquam deserunt asperiores officia assumenda</p>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>Subscription</h4>
        <input type="email" placeholder="Type your email..">
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</section>