<section id="about">
  <div class="subheader">
    <div class="container-fluid">
      <div class="row middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>About us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="about-body">
    <div class="container-fluid">
      <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="headers-color">Who we are?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita perferendis ex corporis, fuga iure recusandae
            ipsam provident sint, veniam hic eum consequuntur. Quaerat, ab! Nostrum odit molestias quis repellendus dolorum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum pariatur autem saepe consequuntur, reprehenderit
            explicabo quo placeat. Exercitationem sunt, ipsam sint adipisci voluptatum, corporis eius aliquam excepturi optio
            doloribus voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum pariatur autem saepe
            consequuntur, reprehenderit explicabo quo placeat. Exercitationem sunt, ipsam sint adipisci voluptatum, corporis
            eius aliquam excepturi optio doloribus voluptatem?
          </p>
          <hr>          
          <h3 class="headers-color">What we do?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vel debitis doloremque ut obcaecati, deleniti tempora,
            temporibus quos fugiat laborum assumenda dolore maxime ea, voluptatum pariatur! Quod cumque, magni molestias.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ea earum at esse officia modi, illo cum neque
            error, reprehenderit odit itaque architecto debitis eius eos totam saepe voluptate pariatur. Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Laborum pariatur autem saepe consequuntur, reprehenderit explicabo quo
            placeat. Exercitationem sunt, ipsam sint adipisci voluptatum, corporis eius aliquam excepturi optio doloribus
            voluptatem?</p>
        </div>
      </div>
    </div>
  </div>
</section>