<header>
  <div class="container-fluid">
    <div class="row center-xs end-sm end-md end-lg middle-xs middle-sm middle-md middle-lg">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <a routerLink="/"><h1><span class="primary-text">Logo</span></h1></a>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <nav>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
          <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact us</a>
        </nav>
      </div>      
    </div>
  </div>
</header>