#features{
    padding: 20px 0 30px;
}
h1{
    margin: 30px 0 40px 0;
    font-size: 30px;
}
.fa{
    font-size: 30px;
    color: #43C2D3;
}
@media(max-width: 600px){
    #features{
        padding: 10px 0 30px 0;
    }
}
@media(max-width: 400px){
    #features{
        padding: 0;
    }
}