<section id="features">
  <div class="container-fluid">
    <div class="row center-xs center-sm center-md center-lg">
      <h1 class="headers-color">Main lorem</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-book" aria-hidden="true"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-desktop"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-send-o"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-map" aria-hidden="true"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-handshake-o"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <i class="fa fa-address-book"></i>
          <h4 class="headers-color">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit vitae dolorem quasi nesciunt error officiis
            quam eaque veritatis mollitia, officia dolor eos, iste aspernatur, architecto, natus a laboriosam? Dignissimos.</p>
        </div>
      </div>
    </div>
  </div>
</section>